ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	z-index:9999;
}

li {
    float: left;
	z-index:9999;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	z-index:9999;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
	z-index:9999;
}

li.dropdown {
    display: inline-block;
	z-index:9999;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #93EE92;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index:9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
	z-index:9999;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
	z-index:9999;
}

footer {background: #333333;width: 100%;overflow: hidden;opacity: 0.75;
z-index:1111;}
footer p, footer h3 {color: #fff; z-index:1111;}
footer p a {color: #fff;text-decoration: none; z-index:1111;}


@keyframes slider {
	0% {
		left:0;
	}
	
	20% {
		left:0;
	}
	
	25% {
		left:-100%;
	}
	
	45% {
		left:-100%;
	}
	
	50% {
		left:-200%;
	}
	
	70% {
		left:-200%;
	}
	
	75% {
		left:-300%;
	}
	
	95% {
		left:-300%;
	}
	
	100% {
		left:-400%;
	}
}

#slider {
	overflow:hidden;
	z-index:1;
}

#slider figure img {
	width:20%;
	float:left;
	z-index:1;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	animation: 20s slider infinite;
	z-index:1;
}